<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="form">
        <blockquote>
          <p>Below is an app that demonstrates my infinite knowledge of MongoDB!</p>
        </blockquote>
        <br>
        <form name="grocery_input" method="POST" action="/Item">
          <p>Food item:</p>
          <input name="name" type="text" class="name_input" required>
          <p>Quantity:</p>
          <input type="number" name="quantity" class="quantity_input" max="99" required>
          <br>
          <br>
          <input type="submit" value="Add item" class="button">
        </form>
        <br>
        <blockquote>
          <h2>Grocery List:</h2>
            <ul>
              <% for (item in items){ %>
                <li><%= items[item]['name'] %> (<%= items[item]['quantity'] %>)</li>
              <% } %>
            </ul>
        </blockquote>
      <div>
      <div id="alert"></div>
  </body>
</html>
